PORT=4000
AUTH_SECRET=use_a_long_random_secret_here_64_chars
ALLOWED_ORIGINS=https://phonecraft.tech,https://www.phonecraft.tech

ADMIN_IDENTIFIER=admin
ADMIN_PASSWORD=change_this_default_admin_password
MAIN_ADMIN_REFER_CODE=ADMIN01

TELEGRAM_FINANCE_BOT_TOKEN=AAFMDDmoMBleg97ELVPjyy8q40BrqzwGwrs
TELEGRAM_FINANCE_CHAT_IDS=1003887307980,1003885723195
TELEGRAM_FINANCE_CHAT_ID=1003887307980

TELEGRAM_SUPPORT_BOT_TOKEN=8623958866:AAFeWK4tbLg4Sn4_js8f7eknk19HRWsNrmM

TELEGRAM_SUPPORT_CHAT_IDS=-1003885723195
TELEGRAM_ADMIN_CHAT_IDS=5973619782,5667850636,8018451923

TELEGRAM_BOT_TOKEN=8770085094:AAFMDDmoMBleg97ELVPjyy8q40BrqzwGwrs
TELEGRAM_ADMIN_CHAT_ID=8623958866:AAFeWK4tbLg4Sn4_js8f7eknk19HRWsNrmM

WEBHOOK_URL=https://phonecraft.tech

