modules = ["nodejs-20", "web", "bash"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/phonecraft-presentation: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/phonecraft: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/admin-panel: web"

[[workflows.workflow]]
name = "artifacts/phonecraft-presentation: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/phonecraft-presentation run dev"
waitForPort = 5173

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "artifacts/phonecraft: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/phonecraft run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "artifacts/admin-panel: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/admin-panel run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["python3"]

[userenv]

[userenv.shared]
WEBHOOK_URL = "https://phonecraft.tech"
TELEGRAM_FINANCE_CHAT_IDS = "1003887307980,1003885723195"
TELEGRAM_FINANCE_CHAT_ID = "1003887307980"
TELEGRAM_SUPPORT_CHAT_IDS = "-1003885723195"
TELEGRAM_ADMIN_CHAT_IDS = "5973619782,5667850636,8018451923"
MAIN_ADMIN_REFER_CODE = "ADMIN01"
VAPID_PUBLIC_KEY = "BOavos9tCgCIzDicCjNUmvhL9GOxRoYSQNVvXOPRX26MSTMc8W8L7IPDoy4cao2kQuC6l_TdB8tiW64E5x_Kyfo"
VAPID_PRIVATE_KEY = "jYo2q1wSoS_1OC0kdQcNQ5wrnsQmKas-eRUKu7GfGyE"
TELEGRAM_WEBHOOK_SECRET = "065984a7c09e17d692d9d1f6269e21f0419eb8d19d348622c31b117c05ab408f"
TELEGRAM_FINANCE_BOT_TOKEN = "8701333481:AAFfKn9Y94OW9TsYqetkTmvZzhkRns_eSPQ"
TELEGRAM_SUPPORT_BOT_TOKEN = "8623958866:AAFeWK4tbLg4Sn4_js8f7eknk19HRWsNrmM"
