modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/phonecraft run dev"
waitForPort = 24470

[[workflows.workflow]]
name = "Start API server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run phonecraft:dev"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["python3"]

[userenv]

[userenv.shared]
WEBHOOK_URL = "https://phonecraft.tech"
TELEGRAM_FINANCE_CHAT_IDS = "1003887307980,1003885723195"
TELEGRAM_FINANCE_CHAT_ID = "1003887307980"
TELEGRAM_SUPPORT_CHAT_IDS = "-1003885723195"
TELEGRAM_ADMIN_CHAT_IDS = "5973619782,5667850636,8018451923"
MAIN_ADMIN_REFER_CODE = "ADMIN01"
